<?xml version="1.0"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <mapping resource="hbm/Ciudad.hbm.xml"/>
        <mapping resource="hbm/Cliente.hbm.xml"/>
        <mapping resource="hbm/DetalleVenta.hbm.xml"/>
        <mapping resource="hbm/Pais.hbm.xml"/>
        <mapping resource="hbm/Producto.hbm.xml"/>
        <mapping resource="hbm/Provincia.hbm.xml"/>
        <mapping resource="hbm/Venta.hbm.xml"/>
    </session-factory>
</hibernate-configuration>